
*{
    padding: 0;
    margin: 0;
} 
body{
    height: 100vh;
    width: 100%;
}

#Quick-access{
    margin:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    gap: 20px;
}
.Quick-access-link{
    text-decoration: none;
    border: 5px;
    color: black;
    border-radius: 20px;
    border: 1px solid rgba(17, 34, 51, 0.521);
    width: 300px;
    height: 300px;
}
.Quick-access-link:hover{
    transform:scale(1.050);
    transition: 0.2s;

}
.Quick-access-box{

}
.Quick-access-img{
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    height:200;
}
.Quick-access-h1{
    text-align: right;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20px;

}
.Quick-access-p{
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#card:hover{
    transform:scale(1.050);
    transition: 0.5s;
}
#font-big{
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    text-align: right;
    margin-right: 20px;
  }
#h5-card{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    text-align: right;
}
.siction-text{
    font-family: "Fustat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(255, 140, 0);
    border-radius: 20px;
    height: 40px;
    
    
    
}

